// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Font system

$font-family-sans-serif: "Roboto", sans-serif !default;

$headings-font-family: "Roboto", sans-serif !default;
$headings-font-style: normal !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.5 !default;

// Color system

// scss-docs-start color-variables
$blue:    #0B48E4 !default;
$indigo:  #6610f2 !default;
$purple:  #4B25B1  !default;
$pink:    #d63384 !default;
$red:     #EB2D00 !default;
$orange:  #fd7e14 !default;
$yellow:  #F8C800 !default;
$green:   #15D289 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$black:   #161616 !default;

$primary: #D3FD51 !default;

$grid-gutter-width:           3.5rem !default;

$btn-font-weight: 500;