body{
    &.app{
        padding-top: 20px;
        padding-bottom: 20px;

        .form-floating{
            > label{
                color: $mid-neutral-n70;
                font-weight: 500;
            }
        }

        .form-check{
            > label{
                color: $black;
            }
        }

        #search-wrapper{
            #searchbar-result-wrapper{
                position: relative;
        
                #searchbar-result{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    display: none;
                    background-color: #ffffff;
                    border: solid 1px $border-color;
                    &.open{
                        display: block;
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            list-style-type: none;
                            padding: 5px 10px;
                            &:hover{
                                background-color: $gray-400;
                                cursor: pointer;;
                            }
                        }
                    }
                }
            }
        
            @include media-breakpoint-down(md) {
                margin: 20px 0;
              }
        }
    }
}