body{
    @include media-breakpoint-down(md) {
        padding-bottom: 70px;
      }
}

#fixed-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-top: $border-width $border-style $border-color;
    width: 100%;
    min-height: 60px;
    display: flex;
    z-index: 2;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    .menu-item{
        display: flex;
        width: 40px;
        height: 40px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        color: $gray-400;
        &.active{
            color: $primary
        }
    }
}

#search-wrapper{
    #searchbar-result-wrapper{
        position: relative;

        #searchbar-result{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            display: none;
            background-color: #ffffff;
            border: solid 1px $border-color;
            &.open{
                display: block;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                    padding: 5px 10px;
                    &:hover{
                        background-color: $gray-400;
                        cursor: pointer;;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin: 20px 0;
      }
}
