body{
    &.app{
        padding-top: 20px;
        padding-bottom: 65px;

        .form-floating{
            > label{
                color: $mid-neutral-n70;
                font-weight: 500;
            }
        }

        .form-check{
            > label{
                color: $black;
            }
        }

        #searchbar{
            #search-place{
                padding: 0;
            }

            #searchQueryModal{
                padding: 0;

                #searchQueryModalLabel{
                    color: $black;
                    font-weight: 700;
                    text-align: center;
                }

                #searchQueryModalClose{
                    color: $red;
                    font-weight: 600;
                    font-size: $small-font-size;
                    text-decoration: none;
                }

                .modal-body{
                    overflow-y: unset;

                    .searchQueryModalResultList{
                        margin-top: 20px;
                        .searchQueryModalResult{
                            cursor: pointer;
                            color: $black;
                            font-size: $small-font-size;
                            font-weight: 600;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }

        #fixed-menu{
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            width: 100%;
            min-height: 60px;
            display: flex;
            z-index: 2;

            .menu-item{
                display: flex;
                width: 40px;
                height: 40px;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                color: $gray-400;
                &.active{
                    color: $primary
                }
            }
        }    

        .custom-nav-tabs{
            &.nav-tabs{
                border: none !important;
                background-color: $light-neutral-n20;
                padding: 5px 0;
                border-radius: 8px;
    
                .btn{
                    color: $mid-neutral-n90;
                    font-size: $small-font-size;
                    font-weight: 500;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 6px;
    
                    &.active{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }

        .heading-title{
            text-align: center;
            color: $dark-neutral-n500;
            font-weight: 600;
            font-size: 1rem;
            margin: 0;
        }

        .form-floating{
            textarea{
                min-height: 150px;;
            }
        } 
    }
}