#landing{
    height: 100vh;
    background-image: url(@/../images/backgrounds/landing-background-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
        background-image: url(@/../images/backgrounds/landing-background-wide-gradient.jpg);
      }

    h1{
        color: $white;
    }

    .btn-register{
        margin: 20px 0;
        color: $dark-neutral-n300;
    }

    .btn-guest{
        text-decoration: none;
        color: $white;
        font-weight: 600;
    }
}